{% extends 'base.html.twig'%}

{% block title %}
  Bienvenue sur le meilleur reseau d'appartement 
{% endblock %}

{% block body %}
  <div class="container">
    <div class="jumbotron mt-3">
            <h1 class="display-3">Bienvenu sur AirBNB</h1>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Voir Nos Annonces</a>
            </p>
    </div>
    <h2 class="h1 my-5">Nos Appartements Starts</h2>

     <div class="row ">
          <div class="col-md-4">
              <div class="card bg-light mb-3">
               <div class="card-header text-center">
                    3 chambres <strong>49$ /nuit</strong><br>
                    <small>pas encore noté</small>
                 </div>
                 <img src="http://placehold.it/1000x400" alt="l'image de l'appartement"
                 style="height:200px; width:100%; display:block"
                 >
                   <div class="card-body">
                      <h4 class="card-title">
                        Appartement de ouf !
                      </h4>
                      <p class="card-text">
                       Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                       Aliquam semper scelerisque tellus, nec dignissim lacus rutrum sit amet.
                       Mauris commodo
                      </p>
                      <a href="#" class="btn btn-secondary">En savoir plus</a>
                   </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card bg-light mb-3">
               <div class="card-header text-center">
                    3 chambres <strong>49$ /nuit</strong><br>
                    <small>pas encore noté</small>
                 </div>
                 <img src="http://placehold.it/1000x400" alt="l'image de l'appartement"
                 style="height:200px; width:100%; display:block"
                 >
                   <div class="card-body">
                      <h4 class="card-title">
                        Appartement de ouf !
                      </h4>
                      <p class="card-text">
                       Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                       Aliquam semper scelerisque tellus, nec dignissim lacus rutrum sit amet.
                       Mauris commodo
                      </p>
                      <a href="#" class="btn btn-secondary">En savoir plus</a>
                   </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card bg-light mb-3">
               <div class="card-header text-center">
                    3 chambres <strong>49$ /nuit</strong><br>
                    <small>pas encore noté</small>
                 </div>
                 <img src="http://placehold.it/1000x400" alt="l'image de l'appartement"
                 style="height:200px; width:100%; display:block"
                 >
                   <div class="card-body">
                      <h4 class="card-title">
                        Appartement de ouf !
                      </h4>
                      <p class="card-text">
                       Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                       Aliquam semper scelerisque tellus, nec dignissim lacus rutrum sit amet.
                       Mauris commodo
                      </p>
                      <a href="#" class="btn btn-secondary">En savoir plus</a>
                   </div>
              </div>
          </div>
     </div>
     <h2 class="h1 my-5">Nos propriétaires starts</h2>

     <div class="row ">

         <div class="col">
              <div class="card border-secondary mb-3">
                  <div class="card-body">
                    <h4 class="card-title">Hermi Montassar</h4>
                    <hr>
                     <div class="card-text">
                      <img src="http://placehold.it/64x64" alt="hermi montassar" class="float-left-mr-3">
                      <p>lorem lorem lorem lorem lorem</p>
                      <a href="#" class="btn btn-success float-right">En savoir plus</a>
                     </div>
                  </div>
              </div>
         </div>

         <div class="col">
              <div class="card border-secondary mb-3">
                  <div class="card-body">
                    <h4 class="card-title">Hermi Montassar</h4>
                    <hr>
                     <div class="card-text">
                      <img src="http://placehold.it/64x64" alt="hermi montassar" class="float-left-mr-3">
                      <p>lorem lorem lorem lorem lorem</p>
                      <a href="#" class="btn btn-success float-right">En savoir plus</a>
                     </div>
                  </div>
              </div>
         </div>
     
     </div>
</div>
{% endblock %}


{% block javascripts %}{% endblock %}