{% extends 'base.html.twig' %}

{% block title %}Page non trouveé{% endblock %}

{% block body %}

 <div class="container">
  <h1>Oups ! Vous n'avez pas le droit d'accéder a cette ressource</h1>
  
  <a href="{{path('homepage')}}" class="btn btn-primary">Retour a l'acceuil</a>
 </div>
{% endblock %}